<div class="no-question">
    <img src="/images/no-question.svg" alt="Sem perguntas">
    <h3>Nenhuma pergunta por aqui...</h3>
    <p>Faça sua primeira pergunta e envie o<br> código dessa sala para outras pessoas!</p>
</div>